<head>
    <title>Musicians Across the World</title>
</head>
<body>  
    <h2>Welcome Musicians</h2>

    <a mimetype= "text/plain" href = "/info">Click here to go to web form</a>

    <br><br>

    <a mimetype= "text/plain" href = "/display">Click here to go to see the listing of Musicians</a>

<hr>
<footer>
    <p>
      <a href="mailto:2021155034@ub.edu.bz">2021155034@ub.edu.bz</a>
    </p>
    <p>
      <a href="mailto:2018118526@ub.edu.bz">2018118526@ub.edu.bz</a>
    </p>
  </footer>

</body></html>